


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Prompt:wght@400;700&display=swap');

*{
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}


body{
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #1A1930;
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button{
  font-weight: 400;
}
button:hover{
  font-weight: 700 !important;
}


.container{
  max-width: 1330px;
  padding: 0 15px;
  margin: 0 auto;
}