


/* .team .swiper{
  
}

.team .swiper-wrapper{
}
.team-slider .swiper-wrapper{
}
.team-slider .swiper-wrapper .swiper-slide{
}

.swiper-button-disabled{

} */
/* 
.team .swiper-button-prev {
  cursor: pointer;
  z-index: 10;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateX(0vw);

  padding: 20px;
  background: blue;

}
.team .swiper-button-prev:hover {
  transform: scale(1.2);
}
.team .swiper-button-next {
  cursor: pointer;
  z-index: 10;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateX(0vw);

  padding: 20px;
  background: blue;

}
.team .swiper-button-prev:hover {
  transform: scale(1.2);
} */